
 <% layout("/layouts/boilerplate") %>
<body>
    <h2>All Listings</h2>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

     <% for( let Listing of allListing){ %>
        <a href="/listings/<%= Listing._id %> " class="listing-link">
            <div class="card col card-listing" >
                <img src="<%= Listing.image %>"
                 class="card-img-top" alt="listing_img" 
                 style="height: 20rem;"
                />

                <div class="card-img-overlay"></div>


                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"> 
                        <b> <%= Listing.title %> </b>
                        <br>
                         <br>
                   &#8377; <%= (Listing.price).toLocaleString("en-IN") %>/night
                    </p>
                </div>
            </div>
        </a>
     <%}%>

</div>
    

</body>

